body {
	width: 100%;
	height: 100%;
}

.carousel-inner {
	height: 75vh;
}

/* Vertical Slider 100% Height */
.vertical .carousel-item {
	height: 100vh;
	min-height: 350px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Vertical Slider Animation */
.vertical .carousel-item-next.carousel-item-left,
.vertical .carousel-item-prev.carousel-item-right {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.vertical .carousel-item-next,
.vertical .active.carousel-item-right {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100% 0);
}

.vertical .carousel-item-prev,
.vertical .active.carousel-item-left {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

/* Vertical Ccarousel Indicators on Right */
.carousel-indicators {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 20px;
	right: 10px;
	left: auto;
	width: auto;
	gap: 1rem;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.carousel-indicators > li {
	display: block;
	border-radius: 12px;
	width: 15px;
	height: 15px;
	background: #fff;
	opacity: 0.4;
	transform: scale(0.65);
	transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.carousel-indicators li.active {
	margin-bottom: 5px;
	background: #fff;
	transform: scale(1.25);
}

.carousel span {
	border-radius: 12px;
	width: 10px;
	height: 10px;
	background: white;
	opacity: 0.2;
}

.span {
	position: absolute;
	left: -1.5rem;
}
